# Byte-compiled / cached files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
venv/
env/
.venv/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Pyproject build artifacts
*.whl
*.tar.gz

# IDE crap
.vscode/
.idea/

# macOS trash
.DS_Store

.checker/